<span class="job-entry-title-rule">
    <h2>{{ title }}</h2>
    <hr class="education-entry-rule">
    <div class="education-entry-wrapper">
        <p class="education-entry-avg-score">AVG SCORE</p>
        <p class="education-entry-score">{{ score }}</p>
    </div>
</span>

<div class="job-entry-date-role">
    <span class="job-entry-role">{{ started }} — {{ ended }}</span>
    <span>
        <div>{{ role }}</div>
        <div><span class="primary-color">@</span> {{ at }}</div>
    </span>
</div>
